.btc {
  background-color: darkcyan;
  display: flex;
  flex-wrap: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.btc-logo {
  width: auto;
  height: auto;
  padding: 10px;
}

.btc-price {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px;
}

/* BUTTON */

.App {
  font-family: sans-serif;
  text-align: center;
}

.productbox {
  display: flex;
  margin: auto;
  height: 240px;
  width: 240px;
  background-color: grey;
}

.notdisplayed {
  display: none;
}

.displayed {
  display: flex;
  height: 20px;
  margin: auto;
}


